<section class="notFound">
  <div class="container">
    <div class="row g-4 align-items-center justify-content-center">
      <div class="col-md-6">
        <img src="./assets/image/bo3bo3.jpg" alt="bo3bo3" class="w-75" />
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h1 class="fw-bold text-danger mb-2">
            OOPS! PAGE <br />
            NOT FOUND.
          </h1>
          <button routerLink="/home" class="btn btn-info text-white">
            Back To Home
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
